[submodule "Filbert/vendor/spdlog"]
	path = Filbert/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Filbert/vendor/GLFW"]
	path = Filbert/vendor/GLFW
	url = https://github.com/inferno16/glfw
[submodule "Filbert/vendor/Glad"]
	path = Filbert/vendor/Glad
	url = https://github.com/inferno16/glad.git
